$accent-color: #fd9228;
.nav_btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  &__line {
    width: 55%;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s;
  }
  #middle_line {
    margin-block: 3px;
  }
  &:hover #upper_line {
    transform: translateY(1px);
  }
  &:hover #lower_line {
    transform: translateY(-1px);
  }
  &:active #upper_line {
    transform: translateY(-1px);
  }
  &:active #lower_line {
    transform: translateY(1px);
  }
}
