$input-bg: #ffbf80;
$bg-dark: #595959;
$height-form-element: 4rem;
.screen {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  @media only screen and (max-width: 970px) {
    flex-direction: column;
  }
  .section_1 {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    $input-width: 80%;
    $input-margin: 0.5rem;
    @media only screen and (max-width: 550px) {
      $input-width: 95%;
      $input-margin: 0.25rem;
    }
    @media only screen and (max-width: 970px) {
      width: 100%;
      height: 100%;
    }
    &__header {
      width: $input-width;
      color: $bg-dark;
    }
    &__input {
      background-color: $input-bg;
      border: none;
      outline: none;
      width: $input-width;
      height: $height-form-element;
      padding-left: 1rem;
      margin-bottom: $input-margin;
    }
    &__button {
      height: $height-form-element;
      width: $input-width;
      background-color: $bg-dark;
      border: none;
      color: #fff;
    }
  }
  .section_2 {
    width: 50vw;
    height: 100%;
    background-color: green;
    @media only screen and (max-width: 970px) {
      display: none;
    }
  }
}
