.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-left: 1rem;
  &__arrow {
    margin-right: 0.5rem;
    height: 0.5rem;
  }
  &__text {
    font-size: 0.8rem;
  }
}
