---
import Logo from "../components/Logo.astro";
import NavButton from "../components/NavButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nutshell">
  <main>
    <nav>
      <Logo />
      <NavButton />
    </nav>
    <div class="div-1"></div>
    <div class="div-2"></div>
  </main>
</Layout>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
	margin-top: 1rem;
  }
  main {
    /* background-color: red; */
  }
  .div-1 {
  }
  .div-2 {
  }
</style>
