---
import Content from "../components/Content.astro";
import Logo from "../components/Logo.astro";
import NavButton from "../components/NavButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nutshell">
  <main>
    <nav>
      <Logo />
      <NavButton />
    </nav>
    <div class="div-1 flex-center">
      <Content />
    </div>
    <div class="div-2 flex-center">
      <img class="mockup-img" src="./home/mobile.webp" />
    </div>
  </main>
</Layout>

<style>
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    margin-top: 1rem;
    width: 100%;
  }
  main {
    display: flex;
    justify-content: space-between;
  }
  .div-1 {
    min-height: -webkit-fill-available;
    justify-content: flex-start;
    padding-left: 2rem;
    width: 50vw;
    height: 100vh;
  }
  .div-2 {
    background: linear-gradient(
      180deg,
      var(--accent-mid) 0%,
      var(--accent-light) 100%
    );
    min-height: -webkit-fill-available;
    width: 50vw;
    height: 100vh;
  }
  .mockup-img {
    margin-top: 2rem;
    max-width: 20rem;
  }

  @media only screen and (orientation: portrait) {
    main {
      flex-direction: column;
    }
    .div-1 {
      height: max-content;
    }
    .div-2 {
      height: max-content;
      min-width: 100%;
      padding-block: 1rem;
    }
    .mockup-img {
      max-width: 17rem;
    }
  }
</style>
