$accent-color: #fd9228;
$button-size: 6rem;
$icon-size: $button-size * 0.13;
.button_container {
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-size;
  height: $button-size * 0.3;
  border-radius: 3rem;
  padding-left: $button-size/15;
  &__text {
    font-size: $button-size * 0.11;
  }
  &__img {
    width: $icon-size;
    height: $icon-size;
  }
}
