---
import Input from "./Input.astro";
import InputArea from "./InputArea.astro";
---

<form>
  <Input title="Name" required placeholder="john doe" />
  <Input title="Email" required placeholder="your@email.com" />
  <InputArea title="Message" placeholder="leave your message here" />
</form>

<style></style>
