---
const { title, placeholder, required } = Astro.props;
---

<div class="input-box">
  <label class="input-label" for="input"
    >{title}
    <span style={`display: ${required ? "auto" : "none"}`} class="required-star"
      >*</span
    >
  </label>
  <input placeholder={placeholder} id="input" />
</div>

<style>
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    max-width: 40rem;
  }
  .required-star {
    color: rgb(224, 49, 49);
  }
  .input-label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  #input {
    padding: 0.2rem 0.5rem;
    height: 2.2rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: 100ms border-color ease 0s;
    outline: none;
  }
  #input::placeholder {
    color: #ced4da;
  }
  #input:focus {
    border-color: var(--accent);
  }
</style>
