$accent-color: #fd9228;
$margin-left: 2rem;
$fontSize-small: 0.85rem;
$fontSize-medium: 0.95rem;
.main {
  display: flex;
  height: 100vh;
  $main_width: 100vw;
  width: $main_width;
  .navbar {
    margin-top: 2rem;
    position: absolute;
    width: $main_width;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .full_logo {
      height: 2rem;
      margin-left: $margin-left;
    }
    .navlinks_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav_link {
        text-transform: uppercase;
        font-size: 0.85rem;
        margin-inline: 1rem;
        color: #fff;
      }
    }
  }
  .section_1 {
    background-color: #fff;
    width: $main_width * 0.45;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__main_container {
      margin-left: $margin-left;
      margin-bottom: 2rem;
      &__upper_para {
        color: #ffbb77;
        text-transform: uppercase;
        font-size: $fontSize-small;
      }
      &__middle_header {
        font-weight: bold;
        color: #363636;
        font-size: 3rem;
      }
      &__lower_para {
        width: 40ch;
        color: #7d7d7d;
        font-style: italic;
        font-size: $fontSize-medium;
      }
      &__btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
      }
    }
    .download_section {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5.5rem;
      background-color: #ffa64f;
      display: flex;
      justify-content: center;
      align-items: center;
      & > p {
        font-size: 0.8rem;
        padding-inline: 1rem;
        color: #fff;
      }
    }
  }
  .section_2 {
    background-color: #ffbf80;
    width: $main_width * 0.55;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .download_btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 7rem;
      height: 5.5rem;
      background-color: $accent-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mockup {
      z-index: 2;
      margin-left: 3rem;
      height: 65%;
    }
    &__top_right_shape {
      width: ($main_width * 0.55) * 0.75;
      position: absolute;
      top: 0;
      right: 0;
    }
    &__bottom_right_shape {
      width: ($main_width * 0.55) * 0.25;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    @media only screen and (min-width: 1300px) {
      &__top_right_shape {
        width: ($main_width * 0.55) * 0.55;
      }
      &__bottom_right_shape {
        width: ($main_width * 0.55) * 0.15;
      }
    }
  }
}
