$accent-color: #fd9228;
.main {
  display: flex;
  height: 100vh;
  $main_width: 100vw;
  width: $main_width;
  .navbar {
    margin-top: 2rem;
    position: absolute;
    width: $main_width;
    display: flex;
    justify-content: space-between;
    .full_logo {
      height: 2rem;
      margin-left: 1rem;
    }
    .navlinks_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav_link {
        text-transform: uppercase;
        font-size: 0.85rem;
        margin-inline: 1rem;
        color: #fff;
      }
    }
  }
  .section_1 {
    background-color: #fff;
    width: $main_width * 0.45;
  }
  .section_2 {
    background-color: #ffbf80;
    width: $main_width * 0.55;
  }
}
